body{
            background-image: linear-gradient( 179.6deg,  rgb(38, 211, 182) -3.4%, rgb(18, 148, 153) 88.3% );
            height: 100vh;

        }
        .title{
            text-align: center;
            color:rgb(32, 5, 5);
        }
        .dice-img{
            width: 150px;
            height: 150px;
            display: block;
            margin: 20px auto;
            margin-top: 30px;

        }
        .btn{
            background-color: rgb(14, 119, 96);
            width: 180px;
            font-weight: bold;
            display: block;
            margin: 10px auto;
            font-size: 20px;
            padding: 7px 10px;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            color: white;
            box-shadow: 2px 2px 5px 2px   rgb(27, 36, 32);
        
        }
        .btn:hover{
            background-color: rgb(5, 54, 52);
            cursor: pointer;
            transition: 0.5s;
            box-shadow: 0px 0px 5px 2px rgb(165, 231, 206);
        }